# Ignore Python compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment directories
mlenv/
.mlenv/
venv/
.env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system-specific files
.DS_Store
Thumbs.db


